<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Add new or edit exiting recipe</title>
</head>
<body>
<form method="post" th:action="@{mode == 'edit' ? '/editRecipe' : '/addRecipe'}" th:object="${recipe}">
    <h2>Dodaj lub edytuj przepis</h2>
    Nazwa przepisu: <input type="text" name="name" th:field="*{name}"><br/>
    Opis: <textarea rows="20" name="description" th:field="*{description}"> </textarea><br/>
    Kategoria <input type="text" name="category" th:field="*{category.id}"><br/>
    Zdjęcie: <input type="text" name="imageUrl" th:field="*{imageUrl}"><br/>

    <input type="submit" value="Wyślij">

</form>
</body>
</html>